<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
	<div th:replace="fragments/fragment :: header"></div>
		
			<div>
				<form th:object="${keluarga}" method="post" action="">
					<div>
						<label for="alamat">Alamat</label> 
						<input th:field="*{alamat}" type = "text" name="alamat"/>
					</div>
					<div>
						<label for="rt">RW</label> 
						<input th:field="*{rt}" type = "text"/>
					</div>
					<div>
						<label for="rw">RT</label> 
						<input th:field="*{rw}" type = "text"/>
					</div>
					<div>
						<label for="id_kelurahan">Kelurahan</label>
						<select th:field ="*{id_kelurahan}">
							<option th:each="kelurahan, iterationStatus : ${kelurahan}" th:value="${kelurahan.id}" th:text="${kelurahan.nama_kelurahan}"></option>
						</select>
					</div>
					<div>
						<input name="year" type="hidden" th:value="${#dates.format(#dates.createNow(), 'yy')}"/>
						<input name="month" type="hidden" th:value="${#dates.format(#dates.createNow(), 'MM')}"/>
						<input name="day" type="hidden" th:value="${#dates.format(#dates.createNow(), 'dd')}"/>
					</div>
					<button type="submit" value="submit">Simpan</button>
				</form>
			</div>
		<div th:replace="fragments/fragment :: footer"></div>
	</body>
</html>